.col-md-4 img{
    height: 285px;
    width: 348px;
}
body {
    background-image: url(https://img5.goodfon.com/wallpaper/big/7/4b/cat-feline-back-simple-background-artwork-digital-art-minima.jpg);
}
.card img{
    height: 313px;
    width: 338px;
}